* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(223, 19%, 93%);
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}
body .comment-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(212, 24%, 26%);
}
body .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease;
}
body .overlay:active {
  opacity: 1;
  visibility: visible;
}

.popup-container {
  position: absolute;
  top: 38%;
  background-color: white;
  width: 25%;
  padding: 1.5rem;
  border-radius: 0.625rem;
  z-index: 100;
  display: none;
}
.popup-container:active {
  display: block;
}
.popup-container h1 {
  margin-bottom: 1rem;
  color: hsl(212, 24%, 26%);
  font-weight: 500;
}
.popup-container p {
  margin-bottom: 0.8rem;
  color: hsl(211, 10%, 45%);
}
.popup-container .no-yes-btns {
  display: flex;
  gap: 0.5rem;
}
.popup-container .no-btn,
.popup-container .yes-btn {
  flex: 1;
  background: none;
  border: none;
  border-radius: 0.625rem;
  padding: 0.7rem;
  font-weight: 700;
  color: white;
}
.popup-container .no-btn {
  background-color: hsl(211, 10%, 45%);
}
.popup-container .yes-btn {
  background-color: hsl(358, 79%, 66%);
}

.comments-container {
  width: 50%;
  margin: auto;
  margin-top: 1.25rem;
}
.comments-container .comment .comment-element {
  display: flex;
  background-color: white;
  padding: 1.69rem;
  margin-bottom: 1.25rem;
  border-radius: 0.625rem;
}
.comments-container .comment .comment-element .score {
  padding: 0.625rem;
  background-color: hsl(223, 19%, 93%);
  color: hsl(238, 40%, 52%);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0.94rem;
  gap: 0.94rem;
  border-radius: 0.625rem;
  height: 90%;
}
.comments-container .comment .comment-element .score .plus-btn:hover,
.comments-container .comment .comment-element .score .minus-btn:hover {
  filter: brightness(0) saturate(100%) invert(37%) sepia(99%) saturate(452%) hue-rotate(198deg) brightness(92%) contrast(102%);
}
.comments-container .comment .comment-element .user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
.comments-container .comment .comment-element .user-info img {
  width: 1.89rem;
  height: 1.89rem;
}
.comments-container .comment .comment-element .user-info .username {
  font-weight: 700;
}
.comments-container .comment .comment-element .user-info .wrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.comments-container .comment .comment-element .user-info .user-id {
  color: white;
  background-color: hsl(238, 40%, 52%);
  padding: 0 0.44rem;
}
.comments-container .comment .comment-element .user-info .reply-btn button {
  display: flex;
  align-items: center;
  gap: 0.44rem;
  background: none;
  border: none;
  color: hsl(238, 40%, 52%);
  font-weight: 700;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}
.comments-container .comment .comment-element .user-info .reply-btn button:hover {
  opacity: 70%;
}
.comments-container .comment .comment-element .user-info .reply-btn button:active {
  opacity: 45%;
}
.comments-container .comment .comment-element .user-info .reply-btn button img {
  width: 0.625rem;
  height: 0.625rem;
}
.comments-container .comment .comment-element .user-info .delete-edit-btn {
  display: flex;
  gap: 1.25rem;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}
.comments-container .comment .comment-element .user-info .delete-edit-btn button {
  display: flex;
  align-items: center;
  gap: 0.44rem;
}
.comments-container .comment .comment-element .user-info .delete-edit-btn .delete-btn,
.comments-container .comment .comment-element .user-info .delete-edit-btn .edit-btn {
  background: none;
  border: none;
}
.comments-container .comment .comment-element .user-info .delete-edit-btn .delete-btn:hover,
.comments-container .comment .comment-element .user-info .delete-edit-btn .edit-btn:hover {
  opacity: 70%;
}
.comments-container .comment .comment-element .user-info .delete-edit-btn .delete-btn:active,
.comments-container .comment .comment-element .user-info .delete-edit-btn .edit-btn:active {
  opacity: 45%;
}
.comments-container .comment .comment-element .user-info .delete-edit-btn .delete-btn {
  color: hsl(358, 79%, 66%);
  font-weight: 700;
}
.comments-container .comment .comment-element .user-info .delete-edit-btn .edit-btn {
  color: hsl(238, 40%, 52%);
  font-weight: 700;
}
.comments-container .comment .comment-element .user-info .delete-edit-btn img {
  width: 0.625rem;
  height: 0.625rem;
}
.comments-container .comment .reply {
  margin-left: 4.1rem;
}
.comments-container .comment .reply .comment-content .reply-to {
  color: hsl(238, 40%, 52%);
  font-weight: 700;
}

.currentUser-container {
  width: 50%;
  margin: auto;
  box-sizing: border-box;
  margin-bottom: 1.25rem;
}
.currentUser-container .current-user {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 0.94rem;
  background-color: white;
  box-sizing: border-box;
  padding: 1.69rem;
  border-radius: 0.625rem;
}
.currentUser-container .current-user img {
  width: 2.19rem;
  height: 2.19rem;
}
.currentUser-container .current-user textarea {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 1.25rem;
  width: 100%;
  outline: transparent;
  border: 0.0625rem solid hsl(223, 19%, 93%);
  border-radius: 0.625rem;
}
.currentUser-container .current-user textarea:focus {
  border: 0.0625rem solid hsl(212, 24%, 26%);
}
.currentUser-container .current-user .send-btn {
  background: none;
  border: none;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  padding: 0.5rem 1.0625rem;
  border: none;
  border-radius: 0.316rem;
  background-color: hsl(238, 40%, 52%);
  color: white;
}
.currentUser-container .current-user .send-btn:hover {
  opacity: 70%;
}
.currentUser-container .current-user .send-btn:active {
  opacity: 45%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1115px) {
  .comments-container {
    width: 55%;
  }
  .currentUser-container {
    width: 55%;
  }
}
@media screen and (max-width: 1015px) {
  .comments-container {
    width: 60%;
  }
  .currentUser-container {
    width: 60%;
  }
}
@media screen and (max-width: 945px) {
  .comments-container {
    width: 65%;
  }
  .currentUser-container {
    width: 65%;
  }
}
@media screen and (max-width: 920px) {
  .comments-container {
    width: 70%;
  }
  .currentUser-container {
    width: 70%;
  }
  .popup-container {
    width: 30%;
  }
}
@media screen and (max-width: 810px) {
  .comments-container {
    width: 75%;
  }
  .currentUser-container {
    width: 75%;
  }
}
@media screen and (max-width: 770px) {
  .popup-container {
    width: 40%;
  }
}
@media screen and (max-width: 760px) {
  .comments-container {
    width: 80%;
  }
  .currentUser-container {
    width: 80%;
  }
}
@media screen and (max-width: 710px) {
  .comments-container {
    width: 85%;
  }
  .currentUser-container {
    width: 85%;
  }
}
@media screen and (max-width: 670px) {
  .comments-container {
    width: 90%;
  }
  .currentUser-container {
    width: 90%;
  }
}
@media screen and (max-width: 627px) {
  .comments-container {
    width: 95%;
  }
  .comments-container .comment .reply {
    margin-left: 2rem;
  }
  .currentUser-container {
    width: 95%;
  }
}
@media screen and (max-width: 580px) {
  .popup-container {
    width: 50%;
  }
}
@media screen and (max-width: 565px) {
  .comments-container {
    width: 95%;
  }
  .comments-container .comment .reply {
    margin-left: 1rem;
  }
  .currentUser-container {
    width: 95%;
  }
}
@media screen and (max-width: 530px) {
  .comments-container {
    font-size: 0.9rem;
  }
  .comments-container .comment .comment-element {
    margin-bottom: 0.8rem;
  }
  .currentUser-container {
    font-size: 0.9rem;
  }
  .popup-container {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 505px) {
  .comments-container .comment .comment-element {
    position: relative;
    padding-bottom: 2.5rem;
  }
  .comments-container .comment .comment-element .user-info .reply-btn {
    position: absolute;
    bottom: 1rem;
    right: 1.812rem;
  }
  .comments-container .comment .comment-element .user-info .delete-edit-btn {
    position: absolute;
    bottom: 1rem;
    right: 1.812rem;
  }
  .comments-container .comment .comment-element .score {
    position: absolute;
    bottom: 8px;
    left: 29px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-right: 0;
    width: 10%;
    gap: 1rem;
    height: 0;
  }
  .comments-container .comment .comment-element .comment-content {
    margin-bottom: 1.25rem;
  }
}
@media screen and (max-width: 468px) {
  .popup-container {
    width: 60%;
  }
}
@media screen and (max-width: 400px) {
  .comments-container .comment .comment-element .score {
    padding: 1.3rem;
  }
  .currentUser-container {
    position: relative;
  }
  .currentUser-container .current-user img {
    position: absolute;
    bottom: 1.25rem;
    left: 1.812rem;
  }
  .currentUser-container .current-user .send-btn {
    position: absolute;
    padding: 1rem 1.56rem;
    bottom: 1rem;
    right: 1.812rem;
  }
  .currentUser-container .current-user textarea {
    margin-bottom: 4.95rem;
    padding-bottom: 2.19rem;
  }
}
@media screen and (max-width: 391px) {
  .popup-container {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */