$color-Moderate-blue: hsl(238, 40%, 52%);
$color-Soft-Red: hsl(358, 79%, 66%);
$color-Light-grayish-blue: hsl(239, 57%, 85%);
$color-Pale-red: hsl(357, 100%, 86%);

$color-Dark-blue: hsl(212, 24%, 26%);
$color-Grayish-Blue: hsl(211, 10%, 45%);
$color-Light-gray: hsl(223, 19%, 93%);
$color-Very-light-gray: hsl(228, 33%, 97%);

$font-size-paragraph: 1.5rem;

* {
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
